# Dependências Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de Ambiente
.env
.env.local

# Logs
*.log
logs/

# Arquivos de Sistema & IDEs
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Dados temporários de execução
data/
tmp/
temp/
dist/
frontend/dist/
